.header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 37.5px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.logo {
  max-width: 250px;
}
.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 37.5px;
}
.header nav a {
  display: block;
  padding: 12.5px;
  color: white;
  font-size: 1.4em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.3s;
}
.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}
/* Responsivo */
@media (max-width: 760px) {
  .header {
    grid-template-columns: auto;
    padding: 30px;
  }
  .logo {
    margin-bottom: 25px;
  }
  .header nav a {
    font-size: 1.2em;
    padding: 15px;
  }
  .header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12.375px;
  }
}
@media (max-width: 600px) {
  .header nav a {
    font-size: 1em;
    padding: 15px;
  }
}

.header nav a:hover {
  position: relative;
}
.header nav a:hover::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 7px;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  animation: line .2s ease-in 0s infinite alternate;
}
.header nav a:hover::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  bottom: 7px;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  animation: line2 .2s ease-in 0s infinite alternate;
}

@keyframes line {
  to {
    right: 10%;
  }
  from {
    right: 80%;
  }
}
@keyframes line2 {
  from {
    right: 10%;
  }
  to {
    right: 80%;
  }
}