.estrutura{
  display: grid;
	grid-template-columns: minmax(200px, 1fr) 3fr 375px;
  grid-template-areas:
		"header header header"	
		"sidenav content anuncios"	
    "footer footer footer"
	;
}
.header{
  grid-area: header;
}
.sidenav{
  grid-area: sidenav;
}
.content{
  grid-area: content;
}
.anuncios{
  grid-area: anuncios;
}
.footer{
  grid-area: footer;
}

/* Responsivo */
@media (max-width:1680px){
  .estrutura{
    grid-template-areas:
    "header header header"
    "sidenav content content"
    "sidenav anuncios anuncios"
    "footer footer footer";
  }
}
@media (max-width:760px){
  .estrutura{
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "sidenav"
    "content"
    "anuncios"
    "footer";
  }
}